* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    word-break: break-word;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: blueviolet;
}

img {
    width: 32px;
    margin-right: 12px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    font-size: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 24px;
    padding: 12px;
    max-width: 1200px;
    background-color: rgb(201, 255, 255);
    margin-bottom: 24px;
}

.content {
    display: flex;
    width: 100%;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.content>img.imgContent {
    min-width: 30%;
    max-width: 30%;
    height: 100%;
}

.textContent>.title {
    font-weight: bold;
    font-size: 180%;
    margin-bottom: 8px;
}

.textContent>.body {
    font-size: 110%;
}

.test>a.btnTest {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    font-size: 32px;
    width: 140px;
    padding: 8px 12px;
    text-align: center;
    align-self: flex-end;
    margin-top: 24px;
}

.body>.padText {
    margin-bottom: 12px;
}

@media screen and (max-width: 900px) {
    .content>img.imgContent {
        min-width: 40%;
        max-width: 40%;
    }
}

@media screen and (max-width: 680px) {
    .content {
        flex-direction: column;
    }

    .content>img.imgContent {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
    }

    .test>a.btnTest {
        width: 100%;
    }
}